<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AmzonHeadPhoneOrdersSuite">
<listeners>
	<listener class-name="com.presto.utilities.Listeners" />
</listeners>
  <test thread-count="5" name="HeadPhoneOrdersTest">
    <classes>
      <class name="com.presto.testclasses.TestCase001_SearchPage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
